@media (min-width: 768px) {
    :root {
        --side-nav-width: 37%;
    }

    .emails {
        width: 100%;
    }

    .view-detail {
        display: none;
    }

    #newEmailModal .modal-content,
    #smithModal .modal-content {
        right: -17vw;
    }
}

@media (min-width: 1000px) {
    :root {
        --side-nav-width: 30%;
    }

    .emails {
        width: 50%;
    }

    .view-detail {
        display: block;
    }

    #newEmailModal .modal-content,
    #smithModal .modal-content {
        right: -25vw;
    }
}

@media (min-width: 1250px) {

    #newEmailModal .modal-content,
    #smithModal .modal-content {
        right: -28vw;
    }
}

@media (min-width: 1700px) {
    :root {
        --side-nav-width: 25%;
    }

}

.logo-title {
    display: block;
    font-size: 25px;
}

.side-nav {
    left: 0 !important;
    visibility: visible !important;
}

.preview {
    font-size: 16px;
}

.offcanvas {
    display: block !important;
}

main {
    max-width: calc(100vw - var(--side-nav-width)) !important;
    margin-top: var(--nav-height);
    margin-left: var(--side-nav-width) !important;
    top: 0 !important;
    right: 0 !important;
}

/* modals */
#newEmailModal .modal-content,
#smithModal .modal-content {
    max-width: 800px;
    width: 60vw !important;
    position: absolute;
    top: var(--nav-height) !important;
    /* right: -15vw; */
}

#newEmailModal .modal-body,
#smithModal .modal-body {
    /* background-color: brown; */
    height: 75vh;
}