@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --nav-background-color: #0A1E30;
    --nav-color-primary: #7BB1C8;
    --nav-color-secondary: #1683E6;
    --nav-height: 60px;
    --search-icon-width: 45px;
    --search-with: 280px;
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
}

.top-nav {
    background-color: var(--nav-background-color);
    height: var(--nav-height);
}

.side-nav {
    background-color: var(--nav-background-color)!important;
    margin-top: var(--nav-height);
}

.custom-secondary-text {
    color: var(--nav-color-primary);
}

.custom-secondary-bg {
    color: var(--nav-color-primary);
}

/* hamburger animation */

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5 ease-in-out;
}

/* hamburger animation --remove existing content */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--nav-color-secondary);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* hamburger animation --when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

/* hamburger animation --State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* search bar */
.search {
    background-color: var(--nav-color-primary);
    border-radius: 8px;
    max-width: var(--search-with);
    width: 33%;
    height: 29px;
    margin-right: 2px;
    /* padding: .rem; */
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    padding-top: 5px;
    /* height: 3.6rem; */
    color: var(--nav-color-secondary);
}


#search {
    background-color: inherit;
    border: none;
    width: 160px;
    height: 100%;
    padding-left: .7rem;
    font-size: 16px;
}

#search::placeholder {
    color: var(--nav-background-color)
}

#search:focus {
    outline: none;
}
