:root {
    --side-nav-width: 60%;
}

#search {
    width: 100px;
}

.logo-title {
    display: block;
    font-size: 16px;
}

.view-detail {
    display: none !important;
}

#newEmailModal {
    /* background-color: blue; */
    padding: 3rem 0 0 3rem;
}

.modal-content {
    width: 83vw !important;
}

#newEmailModal .modal-body,
#smithModal .modal-body {
    /* background-color: brown; */
    height: 75vh;
}